
.divListItem {
	clear: both;	
}

.divListImage {
	float: left;
}

.leftRowBuffer {
	padding-bottom: 10px; 
	padding-right: 10px;	
}

.topBuffer {
	margin-top: 10px;
}

.contControls {
	max-width: 650px;
}

.contList {
	max-width: 700px;
}

.mainTitle {
	text-align: center;
}